@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/*mobile*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    height: 100vh;
}

.title{
    text-align: center;
    font-family: 'Roboto';
    margin-top: 2em;
    color: #fff;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
}

.description label{
    color: #fff;
    font-family: 'Roboto';
    margin-bottom: 1em;
}

.description input{
    height: 10em;
    width: 18em;
    border-radius: 5px;
    background-color: #404750;
    color: #fff;
}
.description input::placeholder{
    color: #fff;
    text-align: center;
}
.values{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.values label{
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 0.5em;
}

.values input{
    margin-top: 0.5em;
    border-radius: 5px;
    background-color: #383e45;
    text-align: center;
    padding: 5px;
}

.values input::placeholder{
    color: #fff;
}

.dropdown{
    margin-top: 0.5em;
    text-align: center;
    
}

.dropdown-toggle{
    margin-bottom: 0;
}

.btn-secondary{
    background-color: #383e45;
    padding: 10px;
    border: none;
    width: 12em;
}

.buttonC{
    display: flex;
    margin-top: 4em;
}

.buttonC button{
    background-color: #383e45;
    font-family: 'Roboto';
    color: #fff;
    height: 3em;
    width: 8em;
    border-radius: 10px;
}

/* tablet */

@media (min-width: 576px) and (max-width:1024px){
    .container, .container-sm {
        max-width: 100%;
    }

    .description input{
        height: 20em;
        width: 44em;
    }

    .values{
        display: flex;
        flex-direction: row;
    }
    
    .values input{
        margin-left: 0.5em;
        margin-right: 0.3em;
        height: 2.75em;
        width: 9em;
    
    }
    
    .btn-secondary{
        margin-left: 0.5em;
        width: 12em;
    }
    
    .buttonC{
        margin-top: 8em;
    }
    
} 

/* desktop */

@media (min-width: 1024px){
.container, .container-sm {
    max-width: 100%;
}

.description input{
    width: 47.5em;
    height: 10em;
}

.values{
    display: flex;
    flex-direction: row;
}

.values input{
    margin-left: 0.5em;
    margin-right: 0.1em;
    height: 2.75em;
    width: 11em;

}

.btn-secondary{
    margin-left: 0.5em;
    width: 12em;
}

.buttonC{
    margin-top: 1em;
}


}





