@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/*mobile*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    height: 100vh;
}

.title{
    text-align: center;
    font-family: 'Roboto';
    margin-top: 2em;
    color: #fff;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
}

.description label{
    color: #fff;
    font-family: 'Roboto';
    margin-bottom: 1em;
}

.description input{
    height: 10em;
    width: 18em;
    border-radius: 5px;
    background-color: #2b3035;
    color: #fff;
    border: none;
}
.description input::placeholder{
    color: #fff;
    text-align: center;
   
}
.values{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.values label{
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 0.5em;
}

.values input{
    margin-top: 0.5em;
    border-radius: 5px;
    background-color: #2b3035;
    text-align: center;
    padding: 5px;
    border: none;
}

.values input::placeholder{
    color: #fff;
}

#value{
    width: 18em;
    height: 3em;
    color: #fff;
}

#payment, #seller, #date{ 
    width: 18em;
    border-radius: 5px;
    background-color: #2b3035;
    color: fff;
    text-align: center;
    padding: 5px;
    border: none;
    height: 3em;
}

.dropdown{
    margin-top: 0.5em;
    text-align: center;
    color: #fff;
}

.dropdown-toggle{
    margin-bottom: 0;
    color: #fff;
}

.dropdown-item{
    color: #fff;
}

.options{
    color: #fff;
}

.btn-secondary{
    background-color: #2b3035;
    padding: 10px;
    border: none;
    width: 12em;
}

.buttonC{
    display: flex;
    margin-top: 2em;
}

.buttonC button{
    background-color: #2b3035;
    border: none;
    color: #fff;
    padding: 0.8em;
    border-radius: 6px;
    width: 8em;
}

.bg-secondary{
    background-color: #2b3035 !important;
}

a{
    color: #fff;
}

/* tablet */

@media (min-width: 576px) and (max-width:1024px){
    .container, .container-sm {
        max-width: 100%;
    }

    .description input{
        height: 20em;
        width: 44em;
    }

    .values{
        display: flex;
        flex-direction: row;
    }
    
    #value{
        margin-left: 0.5em;
        margin-right: 0.1em;
        height: 3em;
        width: 8em;
    }
    
    #date{
        margin-left: 0.5em;
        margin-right: 0.1em;
        height: 3em;
        width: 10em;
    }
    
    #seller{
        margin-right: 0.5em;
        margin-left: 0.5em;
        width: 10em;
        height: 3em;
    }
    
    #payment{
        margin-right: 0.1em;
        margin-left: 0.5em;
        width: 12em;
    }
    
    .buttonC{
        margin-top: 8em;
    }
    
} 

/* desktop */

@media (min-width: 1024px){
.container, .container-sm {
    max-width: 100%;
}

.description input{
    width: 47.5em;
    height: 10em;
}

.values{
    display: flex;
    flex-direction: row;
}

#value{
    margin-left: 0.5em;
    margin-right: 0.1em;
    height: 3em;
    width: 10em;
}

#date{
    margin-left: 0.5em;
    margin-right: 0.1em;
    height: 3em;
    width: 12em;
}

#seller{
    margin-right: 1em;
    margin-left: 0.5em;
    width: 12em;
    height: 3em;
}

#payment{
    margin-right: 0.1em;
    margin-left: 0.5em;
    width: 12em;
    height: 3em;
}
.buttonC{
    margin-top: 1em;
}


}





