@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


/* mobile */

.titleDash h1{
    background-color: #101010;
    margin: 0;
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
}

.dashYear{
    background-color: #101010;
    text-align: center;
    border: #101010;
}

#yearInput{
    margin-bottom: 2em;
    background: #101010;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    border-radius: 6px;
}
.mainDash{
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    width: 20em;
    height: 25em;
    border: 1px solid white;
    padding: .5em;
    margin-bottom: 1em;
    background-color: #101010;
}

.box h3{
    color: #fff;
    text-align: center;
}

#box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sellerDash{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sellerDash svg{
    font-size: 11px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}


/* tablet */
@media (min-width: 576px) and (max-width:1024px){
    
    .mainDash{
        height: 100vh;
        display: flex;
        justify-content: start;
        padding-top: 1em;
        font-size: 30px;
    }

    .box h3{
        font-size: 40px;
    }

    .titleDash h1, .dashYear h2{
        font-size: 40px;
    }



}


/* desktop */
@media (min-width: 1024px){

    .mainDash{
        display: flex;
        flex-direction: row;
    }
    .startbox{
        display: flex;
        flex-direction: column;
        margin-right: 2em;
    }

    .box{
        height: 30em;
        width: 28em;
        margin-bottom: 3em;
        
    }

    #box1{
        margin-right: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




}