@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


/* mobile */
.general{
    height: 100vh;
    width: 100vw;
    background-color: #101010;
    padding: 1em;
}

.general h1,h2{
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
}

.general h2{margin-top: 0.5em;}


.dateB{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dateInput{
    background-color: #2b3035;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
}
/* ::-webkit-calendar-picker-indicator{
    background-color: #2b3035;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
} */


.divTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}


.beforeTable{
    font-size: 13px;
    color: #fff;
    text-align: center;
    width: 26em;
}


.headerTable{
    margin-top: 5em;
    background-color: #2b3035;
    padding-left: 1em;
    padding-right: 1em;
}

td{
    border-bottom: 1px solid #2b3035;
}


/* tablet */
@media (min-width: 576px) and (max-width:1024px){ 
    
    .general h2{margin-top: 1em;}

    .divTable{
        margin-top: 3em;
    }
    .beforeTable{
        font-size: 23px;
        width: 30em;
    }

    .headerTable{
        padding: 0.5em;
    }

}

/* desktop */
@media (min-width: 1024px){

    .divTable{
        margin-top: 2em;
    }
    .beforeTable{
        font-size: 16px;
        width: 60em;
    }

    .headerTable{
        padding: 0.5em;
    }

}

