.footer{
    position: relative; 
    bottom: 0%;
    width: 100%;
}
.contact-area{
    text-align: center;
    background-color: #212529;
    color: #fff;
}

.contact-box{
    padding: 10px;
    border-bottom: 1px solid #fff ;
}

.contact-box p{
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
}

h3{
    padding: 10px;
}
