@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

.cash{
    height: 100vh;
    background-color: #101010;
}

.cash h1{
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
    padding-top: 1em;
}

.buttonCash{
    text-align: center;
}

.buttonCash h4{
    margin-top: 1em;
    color: #fff;
    font-family: 'Roboto';
    font-size: 15px;
}

.buttonCash button{
    margin-top: 1em;
    background-color: #2b3035;
    border: none;
    color: #fff;
    font-family: 'Roboto';
    padding: 0.5em;
    border-radius: 6px;
}

.openCash{
    display: flex;
    justify-content: center;
}

.openC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25em;
    color: #fff;
}

#hopen{
    margin-top: 1em;

}

@media (min-width: 576px) and (max-width:1024px){
    .cash h1{
        font-size:  40px;
    }

    #dateInput{
        font-size: 30px;
    }
    .cash h4{
        font-size: 25px;
    }

    .buttonCash{
        font-size: 30px;
    }
}


@media (min-width: 1024px){
    .cash h1{
        font-size:  40px;
    }

    #dateInput{
        font-size: 20px;
    }
    .cash h4{
        font-size: 25px;
    }

    .buttonCash{
        font-size: 20px;
    }

    .openC{
        margin-top:  15em;
    }
}