@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* mobile */
.general{
    height: 100vh;
    width: 100vw;
    background-color: #101010;
    padding: 1em;
}

.general h1,h2{
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
}

.general h2{margin-top: 0.5em;}


.dateB{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dateInput{
    background-color: #2b3035;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
}


.divTableC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #161616;
    height: 100vh;
    padding: 1em;
    font-size: 10px;
}

#newF{
    /* margin-top: 2em; */
    width: 10em;
    border-radius: 5px;
    background-color: #2b3035;
    color: #fff;
    text-align: center;
    padding: 5px;
    border: none;
    height: 3em;
    margin-bottom: 1em;
}

#rem{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 6em;
    border-radius: 5px;
    background-color: #2b3035;
    color: #fff;
    text-align: center;
    border: none;
    height: 2.5em;
}


.beforeTableC{
    font-size: 13px;
    color: #fff;
    text-align: center;
    font-size: 9px;
    
}


.headerTableC{
    margin-top: 5em;
    background-color: #2b3035;
    padding: 1em;
    
}

td{
    border-bottom: 1px solid #2b3035;
}

.editB{
    background-color: #161616;
    border: none;
}



.editBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editBox h2{
    margin-top: 1em;
}

.inputEdit{
    background-color: #2b3035;
    border: none;
    color: #fff;
    padding: 0.5em;
    font-family: 'Roboto';
    border-radius: 6px;
    margin: 0.5em;
}

#saveEdit{
    width: 8em;
    margin-top: 1em;
}

.newSellerMain{
    height: 100;
}

#editDate{width: 12.5em;}
#save{width: 6em;}



/* tablet */
@media (min-width: 576px) and (max-width:1024px){ 
    
    .general h2{margin-top: 1em;}

    #newF{
        font-size: 18px;
    }
    .beforeTableC{
        font-size: 15px;
    }

    .headerTableC{
        padding: 0.8em;
    }

    .editBox{
        font-size: 20px;
    }

    #editDate{width: 12.5em;}
    #save{width: 6em;}

} 

/* desktop */
@media (min-width: 1024px){
    .beforeTableC{
        font-size: 16px;
        width: 60em;
    }

    .headerTableC{
        padding: 0.5em;
    }

    #newF{
        font-size: 14px;
    }
    
    #editDate{width: 12.5em;}
    #save{width: 6em;}
    .divTableC{
        font-size: 14px;
    }
}

