@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* mobile */
.dropdown{
    text-align: start !important;
    color: #fff;
    font-family: 'Roboto';
}

.dropdown-toggle#user{
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-link{
    font-family: 'Roboto';
}

li{
    list-style-type: none;
}

img{
    height: 3em;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: start;
    
}

.navbar-toggler{
    margin-left: 5em;
}

.navbar-brand{
    font-family: 'Roboto';
}

.bg-dark{
    background-color: #000 !important;
}


/*Demais midias*/

/* tablet */
@media (min-width: 576px) and (max-width:1024px){ 

    .navbar{width: 100vw;}
    .navbar-toggler{margin-left: 18em;}

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        align-items: center;
        width: 100%;
    }

    img{height: 5em;}

    .navbar-brand{font-size: 1.5em;}

    .nav-item{font-size:1.2em}

    .dropdown-toggle#user{
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}

/* desktop */
@media (min-width: 1024px){

    .navbar{width: 100vw;}

    .dropdown-toggle#table{
        margin-right: 19em;
        margin-bottom: 0.5em;
    }

    .dropdown-toggle#user{
        margin-right: 7em;
        margin-top: 0.6em;
    }

    .navbar-brand{font-family: 'Roboto';}

    img{height: 7em;}
}
