@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

.mainCalc{
    height: 100vh;
    background-color: #161616;
}

#monthInput{
    font-family: 'Roboto';
    background-color: #2b3035;
    color: #fff;
    border: none;
    padding: 0.5em;
    border-radius: 6px;
}

.boxCalc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxCalc h1{
    margin-top: 1em;
}

.boxCalc h1, .sellerD{
    color: #fff;
    font-family: 'Roboto';
}

.sellerD{
    margin-top: 1em;
    font-family: 'Roboto';
}

.sellerD svg{
    font-size: 13px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

@media (min-width: 576px) and (max-width:1024px){
    .mainCalc{
       font-size: 25px;
    }
    .boxCalc h1{
        font-size: 40px;
    }
}

@media (min-width: 1024px){

    .boxCalc h1, input{
        margin-right: 1em;
    }
    .sellerD{
        display: flex;
        flex-direction: row;
    }

    .sellerD p{
        margin-right: 3em;
    }
}




