@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

.openCash{
    height: 100vh;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    padding-bottom: 18em;
}

.openCash h1{
    text-align: center;
    color: #fff;    
    margin-bottom: 0.5m;
    padding-top: 0.5em;
}

.openCash h2{
    font-size: 20px;
    margin-top: 2em;
}

.inputOpen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.inputChange{
    width: 15em;
    background-color: #2b3035;
    border: none;
    border-radius: 6px;
    padding: 0.5em;
    font-family: 'Roboto';
    color: #fff;

}

.buttonOpen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#EB{
    background-color: #2b3035;
    font-family: 'Roboto';
    color: #fff;
    height: 3em;
    width: 8em;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-title, .modal-body, .btn-close{
    color: #fff;
}

.modal{
    --bs-modal-bg: #2b3035; 
}


@media (min-width: 576px) and (max-width:1024px){
    /* .openCash{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .openCash h1{
        font-size: 40px;
    }

    .openCash h2{
        font-size: 20px;
        margin-top: 2em;
    }

    .inputChange{
        font-size: 20px;
    }

    .buttonOpen button{
        font-size: 20px;
    }
}

@media (min-width: 1024px){
    .openCash h1{
        font-size: 40px;
    }

    .openCash h2{
        font-size: 20px;
        margin-top: 2em;
    }

    .inputChange{
        font-size: 20px;
    }

    .buttonOpen button{
        font-size: 20px;
    }
}